@import '../../scss/variables';
.mebel {
  color: $brown;
  margin: 0 auto;
  width: 50%;
  img {
    width: 100%;
    border-radius: 10px;
  }
  h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  p {
    margin: 5px 0;
  }
  &__discount {
    color: $red;
    font-size: 24px;
  }
  &__price {
    text-decoration: line-through;
    color: $c4;
    font-size: 18px;
  }
  button {
    @include reset;
    color: white;
    background-color: $brown;
    padding: 5px;
    border-radius: 10px;
    margin-top: 25px;
    font-size: 18px;
    width: 100%;
  }

  @media (max-width: 1100px) {
    width: 60%;
  }
  @media (max-width: 800px) {
    width: 80%;
  }
}
