@import '../../scss/variables';

.category {
  margin-top: 30px;
  &__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  ul {
    @include flexSpaceBetween;
    li {
      background-color: $creme;
      border-radius: 10px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
      &:hover {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      }
      div {
        cursor: pointer;
        text-align: center;
        font-weight: 600;
        padding: 10px;
        border-radius: 10px;
        img {
          width: 150px;
        }
      }
    }

    @media (max-width: 1200px) {
      padding-bottom: 10px;
      overflow: auto;
      justify-content: left;
      margin: 0 auto;
      li {
        margin: 0 10px;
        img {
          width: 130px;
        }
      }
    }
    @media (max-width: 950px) {
      li {
        margin: 0 10px;
        .category__image {
          width: 120px;
        }
        div p {
          font-size: 12px;
        }
      }
    }
    @media (max-width: 530px) {
      li {
        .category__image {
          width: 80px;
        }
        div {
          padding: 5px;
        }
      }
    }
    @media (max-width: 400px) {
      li .category__image {
        width: 50px;
      }
    }
  }
}
