@import '../../scss/variables';

.cart {
  @include cartMarginWidth;
  text-align: center;
  img {
    @include WidthAndRadius;
  }
  h4 {
    @include cartH;
  }
  p {
    margin: 5px 0;
    font-size: 18px;
  }
  button {
    @include cartButton;
    margin: 25px 0;
  }
  @include cartMedia;
}
