@import '../../scss/variables';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #000000;
  padding: 8px 0;
  background-color: $brown;
  margin-bottom: 25px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  &__container {
    @include container;
    @include flexSpaceBetween;
    @include flexAlignItems;
    padding: 0 12px;
    @media (max-width: 385px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__logo {
    @include flexAlignItems;
    cursor: pointer;
    order: 1;
    img {
      margin-right: 15px;
      background-color: #fff;
      border-radius: 10px;
    }
    h1 {
      font-size: 24px;
      font-weight: 800;
      color: #fff;
      @media (max-width: 550px) {
        display: none;
      }
    }
    p {
      color: $creme;
    }
  }

  &__button {
    @include flexAlignItems;
    color: #fff;
    order: 3;
    svg {
      height: 24px;
    }
    div {
      width: 1px;
      height: 12px;
      background-color: #fff;
      margin: 0 8px;
    }
    span {
      font-weight: 600;
      font-size: 16px;
    }
  }

  @media (max-width: 385px) {
    .header__logo,
    .header__button {
      margin-bottom: 5px;
      padding: 0 5px;
      order: 1;
    }
    .header__logo img {
      width: 30px;
      margin-right: 10px;
    }
    .header__logo h1 {
      font-size: 20px;
    }
    .header__button div {
      margin: 0 5px;
    }
    .header__button span {
      font-size: 14px;
    }
  }
}
