@import './header';
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Kanit', sans-serif;
  font-family: 'Nunito', sans-serif;
}

// body {
//   background-color: red;
// }
// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }
