@import './header';
@import './variables';
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  list-style: none;
}
.active {
  // margin: 150px;
  background: #c4c2c0;

  font-weight: 800;
}

// body {
//   background-color: red;
// }
// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }
