@import './variables';
@import './header';
@import './mebelBlock';

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  list-style: none;
}

.container {
  @include container;
}

.wrapper {
  background-color: black;
}
.content__middle {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-title {
    font-size: 36px;
    font-weight: bold;
    @media (max-width: 1350px) {
      font-size: 30px;
    }
    @media (max-width: 950px) {
      font-size: 24px;
    }
  }
}

.content__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  margin-bottom: 100px;

  @media (max-width: 1350px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.active {
  background: #c4c2c0;

  font-weight: 800;
}
