.cart {
  background-color: $creme;
  // padding: 100px;
  padding-top: 100px;

  &__container {
    @include container;
  }
  &__content {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}
