.cart {
  background-color: #f5f3f1;
  // padding: 100px;
  margin-top: 85px;

  &__container {
    @include container;
  }
  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  &__item {
    display: grid;
    grid-template-columns: 230px 1fr;
    background-color: $white;
    padding: 40px;
    &-img {
      width: 230px;
      border-radius: 10px;
    }
    &-info {
      // display: flex;
      // flex-direction: column;
      margin-left: 30px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
    }

    &__middle {
      display: flex;
      flex-direction: column;
    }
  }
}
