@import './variables';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #000000;
  padding: 8px 0;
  background-color: $brown;
  margin-bottom: 25px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);

  .container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    order: 1;

    img {
      margin-right: 15px;
      background-color: #fff;
      border-radius: 10px;
    }

    h1 {
      font-size: 24px;
      font-weight: 800;
      color: #fff;
    }

    p {
      color: $creme;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    color: #fff;
    order: 3;

    svg {
      height: 24px;
    }
    div {
      width: 1px;
      height: 12px;
      background-color: #fff;
      margin: 0 8px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }
  @media (max-width: 550px) {
    .header__logo-h1 {
      display: none;
    }
  }
  @media (max-width: 385px) {
    .container {
      justify-content: center;
      flex-wrap: wrap;
    }
    .header__logo-h1 {
      display: block;
      font-size: smaller;
    }

    .header__logo {
      margin-bottom: 5px;
      padding: 0 5px;
      order: 1;
      img {
        width: 30px;
        margin-right: 10px;
      }
      h1 {
        font-size: 20px;
      }
    }
    .header__button {
      margin-bottom: 5px;
      padding: 0 5px;
      order: 1;
      div {
        margin: 0 5px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
